<h2>Book List</h2>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Publication Date</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let book of books">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.publicationDate }}</td>
        <td>
            <button (click)="editBook(book)">Edit</button>
            <button (click)="deleteBook(book.id)">Delete</button>
        </td>
    </tr>
</table>

<hr>

<app-book-form [book]="selectedBook" (formSubmit)="onFormSubmit()"></app-book-form>
