<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Publication Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.publicationDate}}</td>

            <td class="actions">
                <button class="edit-btn" (click)="editBook(book)">
          Edit
        </button>

                <button class="delete-btn" (click)="deleteBook(book.id)">
          Delete
        </button>
            </td>
        </tr>
    </tbody>
</table>

<app-book-form [book]="selectedBook" (formSubmit)="onFormSubmit()"></app-book-form>